
.header-form {
  margin-bottom: 30px;
  text-align: center;
  margin-top: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 300px; 
    margin: auto;
}
  
/* Style for labels */
.form label {
    margin-bottom: 8px; 
}
  
/* Style for inputs */
.form input {
    padding: 8px; 
    margin-bottom: 16px; 
    width: 100%; 
    box-sizing: border-box; 
}

.form button {
    padding: 8px; 
    margin-bottom: 16px; 
    width: 100%; 
    box-sizing: border-box; 
}
  